vendor_name = Xendit
base_url = https://api.xendit.co
Disbursement  = /v2/payouts
VirtualAccount = /payment_requests
RetailOutlet = /payment_requests
DirectDebit = /payment_requests
QRCode = /payment_requests
EWallet = /payment_requests
PaymentDetail = /payment_requests/[id]

content_type = application/json
authorization =
webhookVerificationToken =